env/
myenv/
venv/
__pycache__/
*.pyc
.git
.gitignore
README.md
.ipynb_checkpoints
*.ipynb
.env
images
myenv
csv 
.DS_Store
.vscode/
.idea/
tests/
notebooks/
data/
*.pkl.bak
*.joblib.bak
*.csv
.ipynb
dsenv